*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

.name{
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 28px;
}

.location{
    color: hsl(75, 94%, 57%);
    font-size: 100%;
}

.social-links{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-links a{
    width: 100%;
}

.social-links a button{
    width: 17%;
    cursor: pointer;
    background-color: hsl(0, 0%, 20%);
    color: white;
    padding: 11px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
}

p{
    color: white;
    font-size: 14px;
}

.profile-image{
    border-radius: 50%;
    height: 170px;
    width: 170px;
    object-fit: contain;
    overflow: hidden;
    transform: scale(0.7);
    transform-origin: center;
}

.attribution{
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}